### WinePairing ###

# WinePairing Directory
*.DS_Store
.idea/*
.idea/workspace.xml
main.py
*.log
*__pycache__*
*/CsvFiles/*
*/ExcelFiles/*
.gitignore

# SiteScraper Directory
# Gecko driver
*SiteScraper/gecko*
# raw HTML output
*SiteScraper/*.html
# excel files
*SiteScraper/ExcelFiles/*

..idea
Database/flavors_database.txt
*.txt
*.html
SiteScraper/TableCreation/CsvFiles
Database/Wine/sql_shenanigans.py
